apiVersion: v2
name: flyte-sandbox
description: A Helm chart for Flyte
type: application
version: v0.1.10 # VERSION
dependencies:
  - name: flyte
    version: v0.1.10 # VERSION
    repository: file://../flyte # REPOSITORY
  - name: contour
    version: 4.1.2
    repository: https://charts.bitnami.com/bitnami
    condition: contour.enabled
  - name: spark-operator
    alias: sparkoperator
    version: 1.0.6
    repository: https://googlecloudplatform.github.io/spark-on-k8s-operator
    condition: spark.enabled
  - name: kubernetes-dashboard
    version: 4.0.2
    repository: https://kubernetes.github.io/dashboard/
    condition: kubernetes-dashboard.enabled
