.idea
_build/
_bin/
build/
.vscode/
*.swp
*.swo
.DS_Store
_repos/
_rsts/
rsts_tmp/
.doctrees/
docs/_sources/
docs/flytekit/flytekit.interfaces.html
docs/searchindex.js
docs/
release/
__pycache__/
/charts/flyte/charts
/charts/flyte/Chart.lock
/charts/flyte-core/Chart.lock
**/*.bak-
bin/-
bin/
.python-version
