.idea
_build/
_bin/
build/
.tmp_build/
.vscode/
*.swp
*.swo
.DS_Store
_repos/
_rsts/
rsts_tmp/
.doctrees/
!flyteidl/protos/docs
release/
__pycache__/
/charts/flyte/charts
/charts/flyte-deps/charts
/charts/flyte/Chart.lock
/charts/flyte-binary/Chart.lock
/charts/flyteagent/Chart.lock
/charts/flyte-deps/Chart.lock
/charts/flyte-core/Chart.lock
**/*.bak-
.python-version
dist/
dist
*.db
vendor/
/docker/sandbox-bundled/images/tar
**/bin/
docs/_tags/
docs/flytectl
docs/protos
docs/flytekit
docs/flytesnacks
docs/examples
docs/_src
docs/_projects
docs/api
docs/tests
