.idea
_build/
_bin/
build/
.vscode/
*.swp
*.swo
.DS_Store
_repos/
_rsts/
rsts_tmp/
.doctrees/
docs/_sources/
docs/flytekit/flytekit.interfaces.html
docs/searchindex.js
docs/
release/
__pycache__/
/charts/flyte/charts
/charts/flyte-deps/charts
/charts/flyte/Chart.lock
/charts/flyte-binary/Chart.lock
/charts/flyteagent/Chart.lock
/charts/flyte-deps/Chart.lock
/charts/flyte-core/Chart.lock
/docker/sandbox-lite/storage/charts
/docker/sandbox-lite/storage/Chart.lock
**/*.bak-
.python-version
dist/
dist
*.db
vendor/
/docker/sandbox-bundled/images/tar
rsts/_tags/
