codespell
flytekit
flytekitplugins-deck-standard
flytekitplugins-kfpytorch
flytekitplugins-sqlalchemy
gitpython
ipython!=8.7.0
jupytext
myst-nb
plotly
psycopg2-binary
recommonmark
sphinx==4.5.0
sphinx-prompt
sphinx-click
sphinx-code-include
sphinx-autoapi
sphinx-copybutton
sphinxext-remoteliteralinclude
sphinx-issues
sphinx_fontawesome
sphinx-panels
sphinx_markdown_tables
sphinxcontrib-mermaid
sphinxcontrib-video
sphinxcontrib-youtube==1.2.0
sphinx-tabs
sphinx-tags==0.2.1

# Packages for Plugin docs
# Package name              Plugin needing it
botocore                    # fsspec
fsspec                      # fsspec
google-cloud                # bigquery
google-cloud-bigquery       # bigquery
markdown                    # deck
plotly                      # deck
ydata_profiling             # deck
dolt_integrations           # dolt
great-expectations          # greatexpectations
datasets                    # huggingface
kubernetes                  # k8s-pod
modin                       # modin
pandera                     # pandera
papermill                   # papermill
jupyter                     # papermill
polars                      # polars
pyspark                     # spark
sqlalchemy                  # sqlalchemy
torch                       # pytorch
skl2onnx                    # onnxscikitlearn
numpy==1.23.5               # onnxtensorflow numpy.bool warning
tf2onnx                     # onnxtensorflow
tensorflow>=2.13.0          # onnxtensorflow
whylogs==1.3.3              # whylogs
whylabs-client              # whylogs
ray==2.6.3                  # ray
scikit-learn                # scikit-learn
dask[distributed]           # dask
vaex                        # vaex
mlflow==2.7.0               # mlflow
duckdb                      # duckdb
snowflake-connector-python  # snowflake
