git+https://github.com/flyteorg/furo@142cf2049ca9f3e84639efafe1d0a3d8de708666#egg=furo
sphinx
sphinx-prompt
sphinx-code-include
sphinx-autoapi
sphinx-copybutton
sphinxext-remoteliteralinclude
sphinx-issues
sphinx_fontawesome
sphinx-panels
sphinxcontrib-mermaid
sphinxcontrib-yt
sphinx-tabs
