git+https://github.com/flyteorg/furo@5e14cd814e462dde37ded2fef28e058c6e5a604c#egg=furo
sphinx
sphinx-prompt
sphinx-code-include
sphinx-autoapi
sphinx-copybutton
sphinxext-remoteliteralinclude
sphinx-issues
sphinx_fontawesome
sphinx-panels
sphinxcontrib-mermaid
sphinxcontrib-yt
sphinx-tabs
