git+https://github.com/flyteorg/furo@b8c1c9f384296e2ca2797ff9d41df75567a15fe1#egg=furo
sphinx
sphinx-prompt
sphinx-code-include
sphinx-autoapi
sphinx-copybutton
sphinxext-remoteliteralinclude
sphinx-issues
sphinx_fontawesome
sphinx-panels
sphinxcontrib-mermaid
sphinxcontrib-yt
sphinx-tabs
