{{- if .Values.workflow_scheduler.enabled}}
  {{- if eq .Values.workflow_scheduler.type "native" }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "flytescheduler.name" . }}
  namespace: {{ template "flyte.namespace" . }}
  labels: {{ include "flytescheduler.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels: {{ include "flytescheduler.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        configChecksum: {{ include (print .Template.BasePath "/admin/configmap.yaml") . | sha256sum | trunc 63 | quote }}
        {{- with .Values.flytescheduler.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      labels: {{ include "flytescheduler.podLabels" . | nindent 8 }}
    spec:
      securityContext:
        fsGroup: 65534
        runAsUser: 1001
        fsGroupChangePolicy: "Always"
      {{- if .Values.flytescheduler.priorityClassName }}
      priorityClassName: {{ .Values.flytescheduler.priorityClassName }}
      {{- end }}
      {{- if .Values.flytescheduler.runPrecheck }}
      initContainers:
      - command:
        - flytescheduler
        - precheck
        - --config
        - {{ .Values.flytescheduler.configPath }}
        {{- if .Values.flytescheduler.podEnv }}
        env:
          {{- with .Values.flytescheduler.podEnv -}}
          {{- toYaml . | nindent 8 }}
          {{- end }}
        {{- end }}
        image: "{{ .Values.flytescheduler.image.repository }}:{{ .Values.flytescheduler.image.tag }}"
        imagePullPolicy: "{{ .Values.flytescheduler.image.pullPolicy }}"
        name: flytescheduler-check
        volumeMounts: {{- include "databaseSecret.volumeMount" . | nindent 8 }}
        - mountPath: /etc/flyte/config
          name: config-volume
        - name: auth
          mountPath: /etc/secrets/
      {{- end }}
      containers:
      - command:
        - flytescheduler
        - run
        - --config
        - {{ .Values.flytescheduler.configPath }}
        {{- if .Values.flytescheduler.podEnv }}
        env:
          {{- with .Values.flytescheduler.podEnv -}}
          {{- toYaml . | nindent 8 }}
          {{- end }}
        {{- end }}
        image: "{{ .Values.flytescheduler.image.repository }}:{{ .Values.flytescheduler.image.tag }}"
        imagePullPolicy: "{{ .Values.flytescheduler.image.pullPolicy }}"
        name: flytescheduler
        ports:
          - containerPort: {{ .Values.configmap.schedulerConfig.scheduler.profilerPort }}
        resources: {{- toYaml .Values.flytescheduler.resources | nindent 10 }}
        volumeMounts: {{- include "databaseSecret.volumeMount" . | nindent 8 }}
        - mountPath: /etc/flyte/config
          name: config-volume
        - name: auth
          mountPath: /etc/secrets/
        {{- with .Values.flytescheduler.additionalVolumeMounts -}}
        {{ tpl (toYaml .) $ | nindent 8 }}
        {{- end }}
      {{- with .Values.flytescheduler.additionalContainers -}}
      {{- tpl (toYaml .) $ | nindent 6}}
      {{- end }}
      serviceAccountName: {{ template "flytescheduler.name" . }}
      volumes: {{- include "databaseSecret.volume" . | nindent 6 }}
      - emptyDir: {}
        name: shared-data
      - configMap:
          name: flyte-scheduler-config
        name: config-volume
      - name: auth
        secret:
          secretName: flyte-secret-auth
      {{- with .Values.flytescheduler.additionalVolumes -}}
      {{ tpl (toYaml .) $ | nindent 6 }}
      {{- end }}
      {{- with .Values.flytescheduler.nodeSelector }}
      nodeSelector: {{ tpl (toYaml .) $ | nindent 8 }}
      {{- end }}
      {{- with .Values.flytescheduler.affinity }}
      affinity: {{ tpl (toYaml .) $ | nindent 8 }}
      {{- end }}
      {{- with .Values.flytescheduler.tolerations }}
      tolerations: {{ tpl (toYaml .) $ | nindent 8 }}
      {{- end }}
{{- end }}
  {{- end }}
