[sdk]

workflow_packages=this.module,that.module

[auth]
assumable_iam_role=some_role


[platform]
url=fakeflyte.com
insecure=false

[madeup]

int_value=3
string_value=abc
bool_value=false
timedelta_value=20h

[resources]
default_cpu_request=500m
default_cpu_limit=501m
default_memory_request=500Gi
default_memory_limit=501Gi
default_storage_request=500Gi
default_storage_limit=501Gi
default_gpu_request=1
default_gpu_limit=2

[credentials]
command=aws,sso,get-token
