[sdk]
workflow_packages=recipes
python_venv=flytekit_venv

[auth]
assumable_iam_role=arn:aws:iam::173840052742:role/flytefunctionaltestsbatchworker-production-iad
raw_output_data_prefix=s3://lyft-modelbuilder/cookbook

[platform]
url=demo.nuclyde.io
auth=False

[images]
# Please change the account id to match the account id where you have pushed
# the docker image and the region to be the region where the image exists
# NOTE that the tag is missing, this will automatically default to the default
# tag of the image (usually the git-SHA)
sagemaker=590375264460.dkr.ecr.us-east-2.amazonaws.com/flytecookbook
