apiVersion: v2
name: flyte-deps
description: A Helm chart for Flyte dependency
type: application
version: v0.1.10  # VERSION
dependencies:
  - name: contour
    version: 7.10.1
    repository: https://charts.bitnami.com/bitnami
    condition: contour.enabled
  - name: spark-operator
    alias: sparkoperator
    version: 2.1.1
    repository: https://kubeflow.github.io/spark-operator
    condition: sparkoperator.enabled
  - name: dask-kubernetes-operator
    alias: daskoperator
    version: 2022.12.0
    repository: https://helm.dask.org
    condition: daskoperator.enabled
  - name: kubernetes-dashboard
    version: 4.0.2
    repository: https://kubernetes.github.io/dashboard/
    condition: kubernetes-dashboard.enabled
