{{- /*
Deprecation: Replacing createClusterRole with generic rbac setting. In a future
release the print will be replaced with fail.
*/}}
{{- if ne .Values.flyteadmin.serviceAccount.createClusterRole nil }}
  {{- print "WARNING: .Values.flyteadmin.serviceAccount.createClusterRole is set (either true or false). Please use the .Values.flyteadmin.serviceAccount.rbac setting instead." }}
{{- end }}

{{- /*
Check if both createClusterRole and rbac are set to non-null values. This will
lead to unexpected behaviors, so we will fail here.
*/}}
{{- if and (ne .Values.flyteadmin.serviceAccount.createClusterRole nil) (ne .Values.flyteadmin.serviceAccount.rbac nil) }}
  {{- fail "Both .Values.flyteadmin.serviceAccount.createClusterRole and .Values.flyteadmin.serviceAccount.rbac are set. Please only use the .Values.flyteadmin.serviceAccount.rbac setting." }}
{{- end }}

{{- /*
Deprecation: Renamed .Values.flyteadmin.serviceAccount.clusterRole to .Values.flyteadmin.serviceAccount.rbacRules.
*/}}
{{- if ne .Values.flyteadmin.serviceAccount.clusterRole nil }}
  {{- fail ".Values.flyteadmin.serviceAccount.clusterRole has been deprecated. Please use .Values.flyteadmin.serviceAccount.rbacRules instead." }}
{{- end }}

{{- /* Determine the role/binding scoping */}}
{{- $roleType := "ClusterRole" }}
{{- if eq .Values.flyteadmin.serviceAccount.rbacScope "namespace" }}
  {{- $roleType = "Role" }}
{{- else if ne .Values.flyteadmin.serviceAccount.rbacScope "cluster" }}
  {{- fail "Invalid value for .Values.flyteadmin.serviceAccount.rbacScope. Expected 'namespace' or 'cluster'." }}
{{- end }}

{{- if or .Values.flyteadmin.enabled .Values.flyteadmin.serviceAccount.alwaysCreate }}
---
{{- if .Values.flyteadmin.serviceAccount.create }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ template "flyteadmin.name" . }}
  namespace: {{ template "flyte.namespace" . }}
  labels: {{ include "flyteadmin.labels" . | nindent 4 }}
  {{- with .Values.flyteadmin.serviceAccount.annotations }}
  annotations: {{ tpl (toYaml .) $ | nindent 4 }}
  {{- end }}
{{- with .Values.flyteadmin.serviceAccount.imagePullSecrets }}
imagePullSecrets: {{ tpl (toYaml .) $ | nindent 2 }}
{{- end }}
{{- end }}

---
{{- if (or .Values.flyteadmin.serviceAccount.rbac .Values.flyteadmin.serviceAccount.createClusterRole) }}
apiVersion: rbac.authorization.k8s.io/v1
kind: {{ $roleType }}
metadata:
  name: {{ template "flyte.namespace" . -}}-{{- template "flyteadmin.name" . }}
  labels: {{ include "flyteadmin.labels" . | nindent 4 }}
rules:
- apiGroups: {{ toYaml .Values.flyteadmin.serviceAccount.rbacRules.apiGroups | nindent 2 }}
  resources: {{ toYaml .Values.flyteadmin.serviceAccount.rbacRules.resources | nindent 2 }}
  verbs: {{ toYaml .Values.flyteadmin.serviceAccount.rbacRules.verbs | nindent 2 }}
---
{{- if $.Capabilities.APIVersions.Has "rbac.authorization.k8s.io/v1" }}
apiVersion: rbac.authorization.k8s.io/v1
{{- else }}
apiVersion: rbac.authorization.k8s.io/v1beta1
{{- end }}
kind: {{ $roleType }}Binding
metadata:
  name: {{ template "flyte.namespace" . -}}-{{- template "flyteadmin.name" . }}-binding
  labels: {{ include "flyteadmin.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: {{ $roleType }}
  name: {{ template "flyte.namespace" . -}}-{{- template "flyteadmin.name" . }}
subjects:
- kind: ServiceAccount
  name: {{ template "flyteadmin.name" . }}
  namespace: {{ template "flyte.namespace" . }}
{{- end }}
{{- end }}
