[sdk]
workflow_packages=sagemaker_training


[images]
# Please change the account id to match the account id where you have pushed
# the docker image and the region to be the region where the image exists
# NOTE that the tag is missing, this will automatically default to the default
# tag of the image (usually the git-SHA)
sagemaker=590375264460.dkr.ecr.us-east-2.amazonaws.com/flytecookbook
