-e file:.#egg=flytekit

coverage[toml]
hypothesis
joblib
mock
pytest
pytest-asyncio
pytest-cov
pytest-timeout
pytest-mock
pytest-xdist
mypy<1.7.0
pre-commit
codespell
google-cloud-bigquery
google-cloud-bigquery-storage
IPython
keyrings.alt
setuptools_scm

# Tensorflow is not available for python 3.12 yet: https://github.com/tensorflow/tensorflow/issues/62003
tensorflow; python_version<'3.12'
# Newer versions of torch bring in nvidia dependencies that are not present in windows, so
# we put this constraint while we do not have per-environment requirements files
torch<=1.12.1; python_version<'3.11'
# pytorch 2 supports python 3.11
# pytorch 2 does not support 3.12 yet: https://github.com/pytorch/pytorch/issues/110436
torch; python_version<'3.12'

# TODO: Currently, the python-magic library causes build errors on Windows due to its dependency on DLLs for libmagic.
# We have temporarily disabled this feature on Windows and are using python-magic for Mac OS and Linux instead.
# For more details, see the related GitHub issue.
# Once a solution is found, this should be updated to support Windows as well.
python-magic; (platform_system=='Darwin' or platform_system=='Linux')

types-protobuf
types-croniter
types-mock
autoflake

pillow
numpy
pandas
scikit-learn
types-requests
prometheus-client

orjson
kubernetes>=12.0.1
