h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

.sidebar-tree > :not(p, .current) {
  font-weight: lighter;
}

.sidebar-tree ul:first-child {
  font-weight: 250;
  font-size: 18px;
  border: 1px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 30px;
  padding: 10px;
}

.sidebar-tree ul:first-child li:not(:last-child) {
  margin-bottom: 5px;
}

@media only screen and (min-width: 1200px) {
  .sidebar-drawer {
    width: 20em;
  }
}

.sidebar-container {
  width: 20em;
}

.sidebar-logo {
  max-width: 30%;
}

.caption-text {
  font-size: 15px;
  color: #696969;
}

.sidebar-tree .reference.external:after {
  content: none;
}

.sphx-glr-thumbcontainer {
  background-color: transparent;
  border: transparent;
}

.sphx-glr-thumbcontainer:hover {
  border: transparent;
}

div.sphx-glr-download a {
  color: white;
  background-color: #9d68e4cf;
  background-image: none;
  border: 1px solid #9d68e4cf;
}

div.sphx-glr-download a:hover {
  background-color: #8b48e2cf;
  box-shadow: none;
}

div.sphx-glr-thumbcontainer a.headerlink {
  display: none;
}

div.sphx-glr-thumbcontainer:hover {
  border-color: white;
  box-shadow: none;
}

.sphx-glr-script-out .highlight pre {
  background-color: #f8f8f8;
}

p.sphx-glr-script-out {
  padding-top: 0em;
}

.search__outer::-webkit-scrollbar-track {
  border-radius: 0px;
}

@media (prefers-color-scheme: dark) {
  .search__outer {
    background-color: #131416 !important;
    border: 1px solid #131416 !important;
  }
  .search__outer__input {
    background-color: #1a1c1e !important;
  }
  .search__result__single {
    border-bottom: #303335 !important;
  }
  .outer_div_page_results:hover {
    background-color: black;
  }
  .search__result__title,
  .rtd_ui_search_subtitle {
    color: #9d68e4 !important;
    border-bottom: 1px solid #9d68e4 !important;
  }
  .search__outer .search__result__title span,
  .search__outer .search__result__content span {
    background-color: #9d68e454;
  }
  .search__result__subheading,
  .search__result__content {
    color: #ffffffd9 !important;
  }
  .search__outer::-webkit-scrollbar-track {
    background-color: #131416 !important;
  }
  .rtd__search__credits {
    background-color: #1a1c1e !important;
    border: 1px solid #1a1c1e !important;
    color: #81868d !important;
  }
  .rtd__search__credits a,
  .search__error__box {
    color: #9ca0a5 !important;
  }
}
