

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>FlyteAdmin Service Background &mdash; Flyte 0.3.0 documentation</title>
  

  
  
  
  

  
  <script type="text/javascript" src="../../_static/js/modernizr.min.js"></script>
  
    
      <script type="text/javascript" id="documentation_options" data-url_root="../../" src="../../_static/documentation_options.js"></script>
        <script type="text/javascript" src="../../_static/jquery.js"></script>
        <script type="text/javascript" src="../../_static/underscore.js"></script>
        <script type="text/javascript" src="../../_static/doctools.js"></script>
        <script type="text/javascript" src="../../_static/language_data.js"></script>
    
    <script type="text/javascript" src="../../_static/js/theme.js"></script>

    

  
  <link rel="stylesheet" href="../../_static/css/theme.css" type="text/css" />
  <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    <link rel="index" title="Index" href="../../genindex.html" />
    <link rel="search" title="Search" href="../../search.html" />
    <link rel="next" title="What is Data Catalog?" href="catalog.html" />
    <link rel="prev" title="FlyteAdmin" href="admin.html" /> 
</head>

<body class="wy-body-for-nav">

   
  <div class="wy-grid-for-nav">
    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search" >
          

          
            <a href="../../index.html" class="icon icon-home"> Flyte
          

          
          </a>

          
            
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
              
            
            
              <p class="caption"><span class="caption-text">Flyte Documentation</span></p>
<ul class="current">
<li class="toctree-l1"><a class="reference internal" href="../../introduction/index.html">Introduction</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../user/index.html">User docs</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../administrator/index.html">Administrator Docs</a></li>
<li class="toctree-l1 current"><a class="reference internal" href="../index.html">Contributor Docs</a><ul class="current">
<li class="toctree-l2 current"><a class="reference internal" href="index.html">Flyte System Components</a><ul class="current">
<li class="toctree-l3"><a class="reference internal" href="admin.html">FlyteAdmin</a></li>
<li class="toctree-l3 current"><a class="current reference internal" href="#">FlyteAdmin Service Background</a><ul>
<li class="toctree-l4"><a class="reference internal" href="#entities">Entities</a></li>
<li class="toctree-l4"><a class="reference internal" href="#using-the-admin-service">Using the Admin Service</a></li>
</ul>
</li>
<li class="toctree-l3"><a class="reference internal" href="catalog.html">What is Data Catalog?</a></li>
<li class="toctree-l3"><a class="reference internal" href="console.html">Flyte Console</a></li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="../language/index.html">Flyte Specification Language</a></li>
<li class="toctree-l2"><a class="reference internal" href="../extending/index.html">Extending Flyte</a></li>
<li class="toctree-l2"><a class="reference internal" href="../docs/index.html">Contributing to Docs</a></li>
</ul>
</li>
</ul>
<p class="caption"><span class="caption-text">Generated Documentation from Source</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../flyteidl/index.html">Flyte Language and API specification</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../flytekit/index.html">Flytekit</a></li>
<li class="toctree-l1"><a class="reference external" href="https://pkg.go.dev/mod/github.com/lyft/flytepropeller">FlytePropeller</a></li>
<li class="toctree-l1"><a class="reference external" href="https://pkg.go.dev/mod/github.com/lyft/flyteadmin">FlyteAdmin</a></li>
<li class="toctree-l1"><a class="reference external" href="https://pkg.go.dev/mod/github.com/lyft/flyteplugins">FlytePlugins</a></li>
<li class="toctree-l1"><a class="reference external" href="https://pkg.go.dev/mod/github.com/lyft/datacatalog">DataCatalog</a></li>
</ul>

            
          
        </div>
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" aria-label="top navigation">
        
          <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
          <a href="../../index.html">Flyte</a>
        
      </nav>


      <div class="wy-nav-content">
        
        <div class="rst-content">
        
          















<div role="navigation" aria-label="breadcrumbs navigation">

  <ul class="wy-breadcrumbs">
    
      <li><a href="../../index.html">Docs</a> &raquo;</li>
        
          <li><a href="../index.html">Contributor Docs</a> &raquo;</li>
        
          <li><a href="index.html">Flyte System Components</a> &raquo;</li>
        
      <li>FlyteAdmin Service Background</li>
    
    
      <li class="wy-breadcrumbs-aside">
        
            
            <a href="../../_sources/contributor/components/admin_service.rst.txt" rel="nofollow"> View page source</a>
          
        
      </li>
    
  </ul>

  
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <div class="section" id="flyteadmin-service-background">
<span id="components-admin-service"></span><h1>FlyteAdmin Service Background<a class="headerlink" href="#flyteadmin-service-background" title="Permalink to this headline">¶</a></h1>
<div class="section" id="entities">
<h2>Entities<a class="headerlink" href="#entities" title="Permalink to this headline">¶</a></h2>
<p>The <a class="reference external" href="https://github.com/lyft/flyteidl/blob/master/protos/flyteidl/service/admin.proto">admin service definition</a> defines REST operations for the entities
flyteadmin administers.</p>
<p>As a refresher, the primary <span class="xref std std-ref">entities</span> across Flyte map similarly to FlyteAdmin entities.</p>
<div class="section" id="static-entities">
<h3>Static entities<a class="headerlink" href="#static-entities" title="Permalink to this headline">¶</a></h3>
<p>These include:</p>
<ul class="simple">
<li><p>Workflows</p></li>
<li><p>Tasks</p></li>
<li><p>Launch Plans</p></li>
</ul>
<p>Permitted operations:</p>
<ul class="simple">
<li><p>Create</p></li>
<li><p>Get</p></li>
<li><p>List</p></li>
</ul>
<p>The above are designated by an <a class="reference external" href="https://github.com/lyft/flyteidl/blob/793b09d190148236f41ad8160b5cec9a3325c16f/protos/flyteidl/core/identifier.proto#L16">identifier</a>
which consists of a project, domain, name and version specification. These entities are for the most part immutable. To update one of these specific entities, the updated
version must be reregistered with a unique and new version identifier attribute.</p>
<p>One caveat is that launch plan state can toggle between <a class="reference external" href="https://github.com/lyft/flyteidl/blob/6b8e34af67cbd06d2f20a6f7462e12c7f0d34f3b/protos/flyteidl/admin/launch_plan.proto#L33">ACTIVE or INACTIVE</a>.
At most one launch plan version across a shared project, domain and name specification can be active at a time. The state affects scheduled launch plans only.
An inactive launch plan can still be used to launch individual executions. However, only an active launch plan runs on a schedule (if it has a schedule defined).</p>
</div>
<div class="section" id="static-entities-metadata-named-entities">
<h3>Static entities metadata (Named Entities)<a class="headerlink" href="#static-entities-metadata-named-entities" title="Permalink to this headline">¶</a></h3>
<p>A <a class="reference external" href="https://github.com/lyft/flyteidl/blob/c12816cf3f0bde54a67fa77e71c0158a64151ea3/protos/flyteidl/admin/common.proto#L45">named entity</a> includes metadata for one of the above entities
(workflow, task or launch plan) across versions. A named entity includes a resource type (workflow, task or launch plan) and an
<a class="reference external" href="https://github.com/lyft/flyteidl/blob/c12816cf3f0bde54a67fa77e71c0158a64151ea3/protos/flyteidl/admin/common.proto#L12">id</a> which is composed of project, domain and name.
A named entity also includes metadata, which are mutable attributes about the referenced entity.</p>
<p>This metadata includes:</p>
<ul class="simple">
<li><p>Description: a human readable description for the Named Entity collection</p></li>
<li><p>State (workflows only): this determines whether the workflow is shown on the overview list of workflows scoped by project and domain</p></li>
</ul>
<p>Permitted operations:</p>
<ul class="simple">
<li><p>Create</p></li>
<li><p>Update</p></li>
<li><p>Get</p></li>
<li><p>List</p></li>
</ul>
</div>
<div class="section" id="execution-entities">
<h3>Execution entities<a class="headerlink" href="#execution-entities" title="Permalink to this headline">¶</a></h3>
<p>These include:</p>
<ul class="simple">
<li><p>(Workflow) executions</p></li>
<li><p>Node executions</p></li>
<li><p>Task executions</p></li>
</ul>
<p>Permitted operations:</p>
<ul class="simple">
<li><p>Create</p></li>
<li><p>Get</p></li>
<li><p>List</p></li>
</ul>
<p>After an execution begins, flyte propeller monitors the execution and sends events which admin uses to update the above executions.</p>
<p>These <a class="reference external" href="https://github.com/lyft/flyteidl/blob/793b09d190148236f41ad8160b5cec9a3325c16f/protos/flyteidl/event/event.proto">events</a> include</p>
<ul class="simple">
<li><p>WorkflowExecutionEvent</p></li>
<li><p>NodeExecutionEvent</p></li>
<li><p>TaskExecutionEvent</p></li>
</ul>
<p>and include information about respective phase transitions, phase transition time and optional output data if the event concerns a terminal phase change.</p>
<p>These events are the <strong>only</strong> way to update an execution. No raw Update endpoint exists.</p>
<p>To track the lifecycle of an execution admin stores attributes such as duration, timestamp at which an execution transitioned to running, and end time.</p>
<p>For debug purposes admin also stores Workflow and Node execution events in its database, but does not currently expose them through an API. Because array tasks can yield very many executions,
admin does <strong>not</strong> store TaskExecutionEvents.</p>
</div>
<div class="section" id="platform-entities">
<h3>Platform entities<a class="headerlink" href="#platform-entities" title="Permalink to this headline">¶</a></h3>
<p>Projects: like named entities, project have mutable metadata such as human-readable names and descriptions, in addition to their unique string ids.</p>
<p>Permitted project operations:</p>
<ul class="simple">
<li><p>Register</p></li>
<li><p>List</p></li>
</ul>
<p>Matchable resources
A thorough background on <a class="reference internal" href="../../administrator/install/managing_customizable_resources.html#managing-customizable-resources"><span class="std std-ref">matchable resources</span></a> explains their purpose and application logic. As a summary, these are used to override system level defaults
for kubernetes cluster resource management, default execution values, and more all across different levels of specificity.</p>
<p>These entities consist of:</p>
<ul class="simple">
<li><p>ProjectDomainAttributes</p></li>
<li><p>WorkflowAttributes</p></li>
</ul>
<p>Where ProjectDomainAttributes configure customizable overrides at the project and domain level and WorkflowAttributes configure customizable overrides at the project, domain and workflow level.</p>
<p>Permitted attribute operations:</p>
<ul class="simple">
<li><p>Update (implicitly creates if there is no existing override)</p></li>
<li><p>Get</p></li>
<li><p>Delete</p></li>
</ul>
</div>
</div>
<div class="section" id="using-the-admin-service">
<h2>Using the Admin Service<a class="headerlink" href="#using-the-admin-service" title="Permalink to this headline">¶</a></h2>
<div class="section" id="adding-request-filters">
<h3>Adding request filters<a class="headerlink" href="#adding-request-filters" title="Permalink to this headline">¶</a></h3>
<p>We use <a class="reference external" href="https://github.com/grpc-ecosystem/grpc-gateway">gRPC Gateway</a> to reverse proxy http requests into gRPC.
While this allows for a single implementation for both HTTP and gRPC, an important limitation is that fields mapped to the path pattern cannot be
repeated and must have a primitive (non-message) type. Unfortunately this means that repeated string filters cannot use a proper protobuf message. Instead use
the internal syntax shown below:</p>
<div class="highlight-default notranslate"><div class="highlight"><pre><span></span><span class="n">func</span><span class="p">(</span><span class="n">field</span><span class="p">,</span><span class="n">value</span><span class="p">)</span> <span class="ow">or</span> <span class="n">func</span><span class="p">(</span><span class="n">field</span><span class="p">,</span> <span class="n">value</span><span class="p">)</span>
</pre></div>
</div>
<p>For example, multiple filters would be appended to an http request:</p>
<div class="highlight-default notranslate"><div class="highlight"><pre><span></span>?filters=ne(version, TheWorst)+eq(workflow.name, workflow)
</pre></div>
</div>
<p>Timestamp fields use the RFC3339Nano spec (ex: “2006-01-02T15:04:05.999999999Z07:00”)</p>
<p>The fully supported set of filter functions are</p>
<ul class="simple">
<li><p>contains</p></li>
<li><p>gt (greater than)</p></li>
<li><p>gte (greter than or equal to)</p></li>
<li><p>lt (less than)</p></li>
<li><p>lte (less than or equal to)</p></li>
<li><p>eq (equal)</p></li>
<li><p>ne (not equal)</p></li>
<li><p>value_in (for repeated sets of values)</p></li>
</ul>
<p>“value_in” is a special case where multiple values are passed to the filter expression. For example:</p>
<div class="highlight-default notranslate"><div class="highlight"><pre><span></span><span class="n">value_in</span><span class="p">(</span><span class="n">phase</span><span class="p">,</span> <span class="mi">1</span><span class="p">;</span><span class="mi">2</span><span class="p">;</span><span class="mi">3</span><span class="p">)</span>
</pre></div>
</div>
<p>Filterable fields vary based on entity types:</p>
<ul class="simple">
<li><p>Task</p>
<ul>
<li><p>project</p></li>
<li><p>domain</p></li>
<li><p>name</p></li>
<li><p>version</p></li>
<li><p>created_at</p></li>
</ul>
</li>
<li><p>Workflow</p>
<ul>
<li><p>project</p></li>
<li><p>domain</p></li>
<li><p>name</p></li>
<li><p>version</p></li>
<li><p>created_at</p></li>
</ul>
</li>
<li><p>Launch plans</p>
<ul>
<li><p>project</p></li>
<li><p>domain</p></li>
<li><p>name</p></li>
<li><p>version</p></li>
<li><p>created_at</p></li>
<li><p>updated_at</p></li>
<li><p>workflows.{any workflow field above} (for example: workflow.domain)</p></li>
<li><dl class="simple">
<dt>state (you must use the integer enum e.g. 1)</dt><dd><ul>
<li><p>States are defined in <a class="reference external" href="https://github.com/lyft/flyteidl/blob/2c17791170ece1cced3e96daa08ea2692efe3d07/protos/flyteidl/admin/launch_plan.proto#L23">launch_plan.proto</a>.</p></li>
</ul>
</dd>
</dl>
</li>
</ul>
</li>
<li><p>Named Entity Metadata</p>
<ul>
<li><dl class="simple">
<dt>state (you must use the integer enum e.g. 1)</dt><dd><ul>
<li><p>States are defined in <a class="reference external" href="https://github.com/lyft/flyteidl/blob/c12816cf3f0bde54a67fa77e71c0158a64151ea3/protos/flyteidl/admin/common.proto#L25">common.proto</a>.</p></li>
</ul>
</dd>
</dl>
</li>
</ul>
</li>
<li><p>Executions (Workflow executions)</p>
<ul>
<li><p>project</p></li>
<li><p>domain</p></li>
<li><p>name</p></li>
<li><p>workflow.{any workflow field above} (for example: workflow.domain)</p></li>
<li><p>launch_plan.{any launch plan field above} (for example: launch_plan.name)</p></li>
<li><dl class="simple">
<dt>phase (you must use the upper-cased string name e.g. RUNNING)</dt><dd><ul>
<li><p>Phases are defined in <a class="reference external" href="https://github.com/lyft/flyteidl/blob/223537e15e05bc6925403a8c11c5a09d91008a80/protos/flyteidl/core/execution.proto#L11,L21">execution.proto</a>.</p></li>
</ul>
</dd>
</dl>
</li>
<li><p>execution_created_at</p></li>
<li><p>execution_updated_at</p></li>
<li><p>duration (in seconds)</p></li>
<li><dl class="simple">
<dt>mode (you must use the integer enum e.g. 1)</dt><dd><ul>
<li><p>Modes are defined in <a class="reference external" href="https://github.com/lyft/flyteidl/blob/182eeb9e1d0f2369e479a981f30cb51c2d7a0672/protos/flyteidl/admin/execution.proto#L96">execution.proto</a>.</p></li>
</ul>
</dd>
</dl>
</li>
</ul>
</li>
<li><p>Node Executions</p>
<ul>
<li><p>node_id</p></li>
<li><p>execution.{any execution field above} (for example: execution.domain)</p></li>
<li><dl class="simple">
<dt>phase (you must use the upper-cased string name e.g. QUEUED)</dt><dd><ul>
<li><p>Phases are defined in <a class="reference external" href="https://github.com/lyft/flyteidl/blob/223537e15e05bc6925403a8c11c5a09d91008a80/protos/flyteidl/core/execution.proto#L26,L36">execution.proto</a>.</p></li>
</ul>
</dd>
</dl>
</li>
<li><p>started_at</p></li>
<li><p>node_execution_created_at</p></li>
<li><p>node_execution_updated_at</p></li>
<li><p>duration (in seconds)</p></li>
</ul>
</li>
<li><p>Task Executions</p>
<ul>
<li><p>retry_attempt</p></li>
<li><p>task.{any task field above} (for example: task.version)</p></li>
<li><p>execution.{any execution field above} (for example: execution.domain)</p></li>
<li><p>node_execution.{any node execution field above} (for example: node_execution.phase)</p></li>
<li><dl class="simple">
<dt>phase (you must use the upper-cased string name e.g. SUCCEEDED)</dt><dd><ul>
<li><p>Phases are defined in <a class="reference external" href="https://github.com/lyft/flyteidl/blob/223537e15e05bc6925403a8c11c5a09d91008a80/protos/flyteidl/core/execution.proto#L42,L49">execution.proto</a>.</p></li>
</ul>
</dd>
</dl>
</li>
<li><p>started_at</p></li>
<li><p>task_execution_created_at</p></li>
<li><p>task_execution_updated_at</p></li>
<li><p>duration (in seconds)</p></li>
</ul>
</li>
</ul>
<div class="section" id="putting-it-all-together">
<h4>Putting it all together<a class="headerlink" href="#putting-it-all-together" title="Permalink to this headline">¶</a></h4>
<p>If you wanted to do query on specific executions that were launched with a specific launch plan for a workflow with specific attributes, you could do something like:</p>
<div class="highlight-default notranslate"><div class="highlight"><pre><span></span><span class="n">gte</span><span class="p">(</span><span class="n">duration</span><span class="p">,</span> <span class="mi">100</span><span class="p">)</span><span class="o">+</span><span class="n">value_in</span><span class="p">(</span><span class="n">phase</span><span class="p">,</span><span class="n">RUNNING</span><span class="p">;</span><span class="n">SUCCEEDED</span><span class="p">;</span><span class="n">FAILED</span><span class="p">)</span><span class="o">+</span><span class="n">eq</span><span class="p">(</span><span class="n">lauch_plan</span><span class="o">.</span><span class="n">project</span><span class="p">,</span> <span class="n">foo</span><span class="p">)</span>
<span class="o">+</span><span class="n">eq</span><span class="p">(</span><span class="n">launch_plan</span><span class="o">.</span><span class="n">domain</span><span class="p">,</span> <span class="n">bar</span><span class="p">)</span><span class="o">+</span><span class="n">eq</span><span class="p">(</span><span class="n">launch_plan</span><span class="o">.</span><span class="n">name</span><span class="p">,</span> <span class="n">baz</span><span class="p">)</span>
<span class="o">+</span><span class="n">eq</span><span class="p">(</span><span class="n">launch_plan</span><span class="o">.</span><span class="n">version</span><span class="p">,</span> <span class="mi">1234</span><span class="p">)</span>
<span class="o">+</span><span class="n">lte</span><span class="p">(</span><span class="n">workflow</span><span class="o">.</span><span class="n">created_at</span><span class="p">,</span><span class="mi">2018</span><span class="o">-</span><span class="mi">11</span><span class="o">-</span><span class="mi">29</span><span class="n">T17</span><span class="p">:</span><span class="mi">34</span><span class="p">:</span><span class="mf">05.000000000</span><span class="n">Z07</span><span class="p">:</span><span class="mi">00</span><span class="p">)</span>
</pre></div>
</div>
</div>
</div>
<div class="section" id="adding-sorting-to-requests">
<h3>Adding sorting to requests<a class="headerlink" href="#adding-sorting-to-requests" title="Permalink to this headline">¶</a></h3>
<p>Only a subset of fields are supported for sorting list queries. The explicit list is below:</p>
<ul class="simple">
<li><p>ListTasks</p>
<ul>
<li><p>project</p></li>
<li><p>domain</p></li>
<li><p>name</p></li>
<li><p>version</p></li>
<li><p>created_at</p></li>
</ul>
</li>
<li><p>ListTaskIds</p>
<ul>
<li><p>project</p></li>
<li><p>domain</p></li>
</ul>
</li>
<li><p>ListWorkflows</p>
<ul>
<li><p>project</p></li>
<li><p>domain</p></li>
<li><p>name</p></li>
<li><p>version</p></li>
<li><p>created_at</p></li>
</ul>
</li>
<li><p>ListWorkflowIds</p>
<ul>
<li><p>project</p></li>
<li><p>domain</p></li>
</ul>
</li>
<li><p>ListLaunchPlans</p>
<ul>
<li><p>project</p></li>
<li><p>domain</p></li>
<li><p>name</p></li>
<li><p>version</p></li>
<li><p>created_at</p></li>
<li><p>updated_at</p></li>
<li><dl class="simple">
<dt>state (you must use the integer enum e.g. 1)</dt><dd><ul>
<li><p>States are defined in <a class="reference external" href="https://github.com/lyft/flyteidl/blob/2c17791170ece1cced3e96daa08ea2692efe3d07/protos/flyteidl/admin/launch_plan.proto#L23">launch_plan.proto</a>.</p></li>
</ul>
</dd>
</dl>
</li>
</ul>
</li>
<li><p>ListWorkflowIds</p>
<ul>
<li><p>project</p></li>
<li><p>domain</p></li>
</ul>
</li>
<li><p>ListExecutions</p>
<ul>
<li><p>project</p></li>
<li><p>domain</p></li>
<li><p>name</p></li>
<li><dl class="simple">
<dt>phase (you must use the upper-cased string name e.g. RUNNING)</dt><dd><ul>
<li><p>Phases are defined in <a class="reference external" href="https://github.com/lyft/flyteidl/blob/223537e15e05bc6925403a8c11c5a09d91008a80/protos/flyteidl/core/execution.proto#L11,L21">execution.proto</a>.</p></li>
</ul>
</dd>
</dl>
</li>
<li><p>execution_created_at</p></li>
<li><p>execution_updated_at</p></li>
<li><p>duration (in seconds)</p></li>
<li><dl class="simple">
<dt>mode (you must use the integer enum e.g. 1)</dt><dd><ul>
<li><p>Modes are defined <a class="reference external" href="https://github.com/lyft/flyteidl/blob/182eeb9e1d0f2369e479a981f30cb51c2d7a0672/protos/flyteidl/admin/execution.proto#L96">execution.proto</a>.</p></li>
</ul>
</dd>
</dl>
</li>
</ul>
</li>
<li><p>ListNodeExecutions</p>
<ul>
<li><p>node_id</p></li>
<li><p>retry_attempt</p></li>
<li><dl class="simple">
<dt>phase (you must use the upper-cased string name e.g. QUEUED)</dt><dd><ul>
<li><p>Phases are defined in <a class="reference external" href="https://github.com/lyft/flyteidl/blob/223537e15e05bc6925403a8c11c5a09d91008a80/protos/flyteidl/core/execution.proto#L26,L36">execution.proto</a>.</p></li>
</ul>
</dd>
</dl>
</li>
<li><p>started_at</p></li>
<li><p>node_execution_created_at</p></li>
<li><p>node_execution_updated_at</p></li>
<li><p>duration (in seconds)</p></li>
</ul>
</li>
<li><p>ListTaskExecutions</p>
<ul>
<li><p>retry_attempt</p></li>
<li><dl class="simple">
<dt>phase (you must use the upper-cased string name e.g. SUCCEEDED)</dt><dd><ul>
<li><p>Phases are defined in <a class="reference external" href="https://github.com/lyft/flyteidl/blob/223537e15e05bc6925403a8c11c5a09d91008a80/protos/flyteidl/core/execution.proto#L42,L49">execution.proto</a>.</p></li>
</ul>
</dd>
</dl>
</li>
<li><p>started_at</p></li>
<li><p>task_execution_created_at</p></li>
<li><p>task_execution_updated_at</p></li>
<li><p>duration (in seconds)</p></li>
</ul>
</li>
</ul>
<div class="section" id="sorting-syntax">
<h4>Sorting syntax<a class="headerlink" href="#sorting-syntax" title="Permalink to this headline">¶</a></h4>
<p>Adding sorting to a request requires specifying the <code class="docutils literal notranslate"><span class="pre">key</span></code>, e.g. the attribute you wish to sort on. Sorting can also optionally specify the direction (one of <code class="docutils literal notranslate"><span class="pre">ASCENDING</span></code> or <code class="docutils literal notranslate"><span class="pre">DESCENDING</span></code>) where <code class="docutils literal notranslate"><span class="pre">DESCENDING</span></code> is the default.</p>
<p>Example sorting http param:</p>
<div class="highlight-default notranslate"><div class="highlight"><pre><span></span><span class="n">sort_by</span><span class="o">.</span><span class="n">key</span><span class="o">=</span><span class="n">created_at</span><span class="o">&amp;</span><span class="n">sort_by</span><span class="o">.</span><span class="n">direction</span><span class="o">=</span><span class="n">DESCENDING</span>
</pre></div>
</div>
<p>Alternatively, since descending is the default, the above could be rewritten as</p>
<div class="highlight-default notranslate"><div class="highlight"><pre><span></span><span class="n">sort_by</span><span class="o">.</span><span class="n">key</span><span class="o">=</span><span class="n">created_at</span>
</pre></div>
</div>
</div>
</div>
</div>
</div>


           </div>
           
          </div>
          <footer>
  
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
      
        <a href="catalog.html" class="btn btn-neutral float-right" title="What is Data Catalog?" accesskey="n" rel="next">Next <span class="fa fa-arrow-circle-right"></span></a>
      
      
        <a href="admin.html" class="btn btn-neutral float-left" title="FlyteAdmin" accesskey="p" rel="prev"><span class="fa fa-arrow-circle-left"></span> Previous</a>
      
    </div>
  

  <hr/>

  <div role="contentinfo">
    <p>
        &copy; Copyright 2020, Flyte Authors

    </p>
  </div>
  Built with <a href="http://sphinx-doc.org/">Sphinx</a> using a <a href="https://github.com/rtfd/sphinx_rtd_theme">theme</a> provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>

        </div>
      </div>

    </section>

  </div>
  


  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.Navigation.enable(true);
      });
  </script>

  
  
    
   

</body>
</html>