-r ./plugins/pod/requirements.in
-r ./plugins/k8s_spark/requirements.in
-r ./plugins/sagemaker_training/requirements.in
-r ./plugins/kfpytorch/requirements.in
-r ./plugins/sagemaker_pytorch/requirements.in
-r ./plugins/hive/requirements.in
-r ./case_studies/pima_diabetes/requirements.in
-r ./docs-requirements.in

black==19.10b0
coverage
flake8
flake8-black
flake8-isort
isort
mock
pytest
