-r ./docs-requirements.in
-r ./integrations/aws/sagemaker_training/requirements.in
-r ./integrations/aws/sagemaker_pytorch/requirements.in
-r ./integrations/external_services/hive/requirements.in
-r ./integrations/flytekit_plugins/dolt/requirements.in
-r ./integrations/kubernetes/pod/requirements.in
-r ./integrations/kubernetes/k8s_spark/requirements.in
-r ./integrations/kubernetes/kfpytorch/requirements.in
-r ./case_studies/ml_training/house_price_prediction/requirements.in
-r ./case_studies/ml_training/mnist_classifier/requirements.in
-r ./case_studies/ml_training/pima_diabetes/requirements.in

black==19.10b0
coverage
flake8
flake8-black
flake8-isort
isort
mock
pytest
