-r ./integrations/kubernetes/pod/requirements.in
-r ./integrations/kubernetes/k8s_spark/requirements.in
-r ./integrations/aws/sagemaker/sagemaker_training/requirements.in
-r ./integrations/kubernetes/kubeflow/kfpytorch/requirements.in
-r ./integrations/aws/sagemaker/sagemaker_pytorch/requirements.in
-r ./integrations/external_services/hive/requirements.in
-r ./case_studies/ml_training/pima_diabetes/requirements.in
-r ./docs-requirements.in

black==19.10b0
coverage
flake8
flake8-black
flake8-isort
isort
mock
pytest
