git+git://github.com/flyteorg/furo@main
pillow
readthedocs-sphinx-search
sphinx
sphinx_rtd_theme
sphinx-gallery
sphinx-prompt
sphinx-code-include
sphinx-autoapi
sphinx-copybutton
docutils==0.16
astroid==2.4.2
