[sdk]
workflow_packages=recipes
python_venv=flytekit_venv

[auth]
assumable_iam_role=arn:aws:iam::111234567892:role/yourrole-development
raw_output_data_prefix=s3://my-s3-bucket/offloaded-data-storage

[platform]
url=127.0.0.1:30081
insecure=True

[aws]
# Deprecated. Please use the raw_output_data_prefix above
# See the "Customize Offloaded Data Location" chapter for more information
s3_shard_formatter=s3://my-s3-bucket/{}/
s3_shard_string_length=2
