name: Integration tests

on:
  workflow_call:
    inputs:
      component:
        required: true
        type: string
      cache_key:
        description: "Cache key for docker image"
        required: true
        type: string
      go-version:
        required: true
        type: string
jobs:
  integration:
    name: Integration tests
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ inputs.component }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: "0"
      - id: load-docker-cache
        name: Load Docker Cache
        uses: actions/cache@v3
        with:
          path: /tmp/tmp/docker-images-${{ inputs.component }}
          key: ${{ inputs.cache_key }}-${{ inputs.component }}
      - name: Prime docker cache
        run: docker load -i /tmp/tmp/docker-images-${{ inputs.component }}/snapshot-builder-${{ inputs.component }}.tar || true
      - uses: engineerd/setup-kind@v0.5.0
        with:
          version: "v0.11.1"
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ inputs.go-version }}
      - name: Integration
        run: |
          # attempt to clean up some unneeded data: https://github.com/actions/virtual-environments/issues/2840#issuecomment-790492173
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf "/usr/local/share/boost"
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"
          kubectl cluster-info
          kubectl get pods -n kube-system
          echo "current-context:" $(kubectl config current-context)
          echo "environment-kubeconfig:" ${KUBECONFIG}
          IMAGE_NAME=${{ inputs.component }} IMAGE=${{ github.repository_owner }}/${{ inputs.component }}:builder make k8s_integration_execute
