name: Lint

on:
  workflow_call:
    inputs:
      component:
        required: true
        type: string
      go-version:
        required: true
        type: string
jobs:
  lint:
    name: Run Lint
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ inputs.component }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ inputs.go-version }}
      - name: Lint
        run: make install && make lint
