name: FUNCTIONAL TESTING

on:
  push:
    branches:
      - opta-aws
  workflow_dispatch:
    inputs:
      mode:
        description: "Mode of operation (either nightly or release)"
        required: true
        default: "nightly"
        type: choice
        options:
          - nightly
          - release
      components_version:
        description: "Version used by all components. Leave as latest for the nightly runs and pick a flyte release version in case of a release test (e.g. the full string \"v0.18.2\")"
        required: true
        default: "latest"
        type: string

permissions:
  id-token: write
  contents: read

env:
  ENV_NAME: development
  YOUR_COMPANY: bamboozoology
  AWS_REGION: us-east-1
  AWS_ACCOUNT_ID: "${{ secrets.AWS_ACCOUNT_ID }}"
  FLYTE_STORAGE_BUCKET: flyte-unique-nooverlap-bucket-123456

jobs:
  set-env-vars:
    runs-on: ubuntu-latest
    steps:
     - name: set env variables
       id: set-env-vars
       shell: bash
       run: |
         echo "::set-output name=aws_region::$AWS_REGION"
         echo "::set-output name=your_company::$YOUR_COMPANY"
         echo "::set-output name=env_name::$ENV_NAME"
         echo "::set-output name=flyte_storage_bucket::$FLYTE_STORAGE_BUCKET"
    outputs:
      aws-region: ${{ steps.set-env-vars.outputs.aws_region }}
      your-company: ${{ steps.set-env-vars.outputs.your_company }}
      env-name: ${{ steps.set-env-vars.outputs.env_name }}
      flyte-bucket: ${{ steps.set-env-vars.outputs.flyte_storage_bucket }}
  calculate-pre-reqs:
    # TODO: UPDATE THIS TO RELEVANT LOCATION ...
    # likely: flyteorg/flyte.github/workflows/calculate_pre_reqs.yml@main
    uses: brucearctor/flyte/.github/workflows/calculate_pre_reqs.yml@opta-aws
    with:
      mode: ${{ github.event.inputs.mode }}
      components_version: ${{ github.event.inputs.components_version }}
  create-opta-aws:
    needs:
      - set-env-vars
      - calculate-pre-reqs
    # TODO: UPDATE THIS TO RELEVANT LOCATION ...
    # likely: flyteorg/flyte.github/workflows/careate_opta_aws.yml@main
    uses: brucearctor/flyte/.github/workflows/create_opta_aws.yml@opta-aws
    with:
      aws-region: ${{ needs.set-env-vars.outputs.aws-region }}
      your-company: ${{ needs.set-env-vars.outputs.your-company }}
      env-name: ${{ needs.set-env-vars.outputs.env-name }}
      mode: ${{ needs.calculate-pre-reqs.outputs.mode }}
      components_version: ${{ needs.calculate-pre-reqs.outputs.components_version }}
      flyte-storage-bucket: ${{ needs.set-env-vars.outputs.flyte-bucket }}
    secrets: inherit
  run-tests:
    needs:
      - create-opta-aws
      - calculate-pre-reqs
    # TODO: UPDATE TO RELEVANT LOCATION
    uses: brucearctor/flyte/.github/workflows/run_snack_tests.yml@opta-aws
    with:
      dns: ${{ needs.create-opta-aws.outputs.dns }}
      components_version: ${{ needs.set-env-vars.outputs.your-company }}
#    # TODO: Add a slack update after tests run
#  destroy-cluster:
#    # TODO: UPDATE THIS TO RELEVANT LOCATION ...
#    # likely: flyteorg/flyte.github/workflows/calculate_pre_reqs.yml@main
#    uses: brucearctor/flyte/.github/workflows/destroy_cluster.yml@opta-aws
#    with:
#      aws-region: ${{ needs.set-env-vars.outputs.aws-region }}
#    secrets: inherit
#    needs:
#      - set-env-vars
#      - calculate-pre-reqs
#      - create-opta-aws
#      #- mor-flo
